<div class='item-widget'>
  <div class='item-widget-contents' id='{{pid}}'>
    <img src='/images/waistcoat.jpg' class='item-image' alt='waistcoat'>
    <span class='.name'>    {{name}}</span>
    <span class='.category'>{{category}}</span>
    <span class='.price'   >£{{price}} </span>
    <span class='.quantity'>{{quantity}}</span>
    <img src='/images/shopping_cart.jpg' class='shopping-cart' alt='shopping cart'>
  </div>
</div>

