<div class='item-widget'>
  <div class='item-widget-contents' id='{{pid}}'>
    <img src='/images/item_placeholder.jpg' class='item-image' alt='waistcoat'>
    <ul>
      <li class='name'>    Name: {{name}}</li>
      <li class='category'>Category: {{category}}</li>
      <li class='price'   >Price: £{{price}} </li>
      <li class='quantity'>Quantity: {{quantity}}</li>
    </ul>
    <img src='/images/shopping_cart.jpg' class='add-to-shopping-cart' alt='shopping cart'>
  </div>
</div>

